
* {
    box-sizing: border-box;
  }
  
#one{
    background-color: #B17EC1;
    background-image: url("images/pexels-mikhail-nilov-7827819.jpg");
    background-size: cover;
    height: 990px; 
    background-position: center; 
    background-repeat: no-repeat; 
    @media screen and (max-width: 400px){
        /* display: block; */
        width: 50%;
    }
}
nav{
    text-transform: uppercase;
    color: white;
    margin-right: 20px;
    margin-left: 10px;
}
.logo{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    padding: 15px;
    font-size:1.3vw;

    border: 4px solid white;
    font-weight: lighter;
}
.navlink{
    /* font-size:1.3vw; */

    font-size: 20px;
    font-weight: bold;
    float: right;
}
.profile {
    height: 25px;
    width: 25px;
    margin-bottom: -5px;
}
ul {
    list-style-type: none;
  }
li{
    display: inline-block;
    padding: 10px;
    @media screen and (max-width: 1024px){
        /* display: block; */
    }
}
li a {
    color: white;
    text-decoration: none;
}

.daily {
    text-transform: uppercase;
    color: white;
    font-size:9vw;
    /* font-size: 16px; */
    font-weight: 800;
    text-align: left;
    position: absolute;
    top: 85%;
    left: 39%;
    transform: translate(-50%, -50%);
  }
.centered {
    color: white;
    position: absolute;
    top: 95%;
    /* font-size:1.6vw; */
    font-size: 26px;
    font-weight: bold;
    left: 40%;
    text-transform: uppercase;
    float: left;
  }
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    text-transform: uppercase;
    border: 4px solid white;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
    margin-right: 50px;
    font-size:1.3vw;

  }
  .bottom-right p {
    float: left;
  }
  .bottom-right img {
    float: right;
    height: 30px;
    width: 30px;
    margin-left: 14px;
    margin-top: 8%;
  }
.sign{
    display: inline-block;
}



/* section two start */
#two{
    background-color: grey;
}
.brain img{
    height: 70px;
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 30px;
}
.from {
    text-align: center;
    padding-bottom: 20px;
}

.from p{
    /* font-size: 1.0vw; */
    font-size: 16px;
    top: 50%;
    @media screen and (max-width: 400px){
        /* display: block; */
        width: 50%;
    }
}
/* section two end */  


/* section three start */ 
.col {
    float: left;
    padding: 80px;
    width: 33.33%;
}
.col img {
    max-width: 100%;
    width: auto\9;
}
#col-1 {
    background-image: url("images/pexels-andrea-piacquadio-935743.jpg");
    background-size: cover;
    background-size: 30%;
    height: 500px; 
    background-repeat: no-repeat; 
}
#col-2 {
    background-image: url("images/pexels-cottonbro-4861355.jpg");
    background-size: cover;
    background-size: 26%;
    height: 700px; 
    background-repeat: no-repeat; 
    background-position: 25% 30%; 
    margin-top: -60px;

}
#col-3 {
    background-image: url("images/pexels-julia-avamotive-1082953.jpg");
    background-size: cover;
    /* height: 500px;  */
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 95% 10%; 
    margin-top: -14%;
}
#words{
    padding-left: 32%;
}
#words-2{
    padding-left: 66%;
    padding-top: 20%;
}
#words-3{
    padding-left: 45%;
    padding-top: 14%;
}
.three h3 {
    font-size: 25px;
}
.three h1 {
    /* font-size: 1.8vw; */
    font-size: 16px;
    text-transform: uppercase;
    margin-top: -25px;
}
.three p {
    /* font-size: 0.9vw; */
    font-size: 16px;

}
#three img {
    height: 500px;
    width: 400px;
}


/* section three end */ 


/* section four start */ 
#four {
    background-color: #D2D7A1;
    padding-bottom: 50px;
}
.loop{
    width: 50px;
    height: 50px;
    margin-top: 2%;
    margin-left: 20%;
}
.noun {
    text-transform: uppercase;
    color: white;
    font-size: 1.6vw;
    display: flex;
    justify-content: left;
    padding-left: 16%;
}
.reg{
    display: flex;
    justify-content: left;
    padding-left: 8%;
}
.sure{
    margin-top: -5%;
    margin-bottom: 40px;
    padding-bottom: 50px;
}
.not{
    display: flex;
    justify-content: right;
    padding-right: 26%;
    font-size: 2.3vh;
}
.take {
    display: flex;
    justify-content: right;
    background-color: #fff;
    width: 12%;
    border-radius: 15px;
    text-transform: uppercase;
    margin-left: 60%;
    padding-right: 15px;
}
.take img {
    width: 50px;
    height: 50px;
    padding-left: 15px;
}


/* section four end */ 


/* section five start */ 
#five {
    margin-bottom: 70px;
    margin-top: 70px;
}
#course {
    margin-bottom: 40px;
}
#five h1{
    text-transform: uppercase;
    font-weight: bold;
    /* font-size: 1.4vw; */
    font-size: 16px;

}
.course {
    float: left;
    width: 40%;
    font-size: 1.0vw;

}
.all {
    font-size: 1.6vh;
}

.search {
    border: 3px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    width: 60%;
    margin-left: 35%;
    margin-top: -5%;
    margin-bottom: 4%;
}
.search img {
    height: 30px;
    width: 30px;
    margin-top: 19px;
}
.search p {
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 1.1vw;
}
#row-one{
    margin-bottom: -19px;
}

.column {
    float: left;
    width: 20%;
  }

.column img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .container img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.container:hover img {
	opacity: .5;
}
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    font-size: .9vw;

    background-color: #A887A4;
    text-transform: uppercase;
    width: 100%;
    margin-left: 0px;
    margin-bottom: -5px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.7;
  }
  .bottom-left-2 {
    position: absolute;
    bottom: 8px;
    font-size: .9vw;
    background-color: #EAE7E2;
    color: brown;
    text-transform: uppercase;
    width: 100%;
    margin-left: 0px;
    margin-bottom: -5px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.7;
  }


.column h3{
    text-transform: uppercase;
    text-align: center;
    color: white;
}  
/* section five end */ 


/* section six start */ 
#six{
    background-color: #B17EC1;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 90px;
}
#six h2 {
    text-transform: uppercase;
    /* font-size: 1.3vw; */
    font-size: 16px;

    margin-bottom: -35px;
}

.columnn {
    float: left;
    width: 20%;
    padding: 10px;
    margin-right: -30px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #six p{
    padding-top: 30px;
  }
  #number {
    /* font-size: 1.2vw; */
    font-size: 16px;
    margin-bottom: -40px;
  }
  #text {
    /* font-size: .9vw; */
    font-size: 16px;

  }
  .footer {
    /* font-size: .9vw; */
    font-size: 16px;

  }
  @media screen and (max-width: 1200px) {
    .menu { 
        width: 100%;
    }
    .img {
        max-width: 100%
          
    }
    .img{
        column-count: 2;
    }
    
}

@media screen and (min-width: 480px) {
    .menu {
        width: 30%;
    }
}

/* section six end */ 

@media screen and (max-width: 300px) {
    .navlink {
      float: none;
      display: block;
      width: 100%;
      font-size: 15px;
    }
  }

  @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  @media screen and (max-width: 992px) {
    .logo {
      /* width: 50%; */
      font-size: 11px;
    }
  }
  @media screen and (max-width: 600px) {
    .sign p{
      /* display: hidden; */
      width: 100%;
      /* margin-top: 10px; */
      /* padding: -10px;  */
      /* display: block; */
      font-size: 10px;
    }
  }
  @media screen and (max-width: 600px) {
    .centered {
      /* display: hidden; */
      width: 100%;
      font-size: 10px;
      /* margin-top: 10px; */
      /* padding: -10px;  */
    }
  }
  @media screen and (max-width: 400px) {
    .from {
      font-size: 11px;
    }
  }
  @media screen and (max-width: 400px) {
    #number {
      /* width: 50%; */
      font-size: 11px;
    }
  }
  @media screen and (max-width: 690px) {
    .columnn {
      width: 50%;
      float: none;
      display: block;
      /* width: 100%; */
      /* font-size: 10px; */
    }
  }
  @media screen and (max-width: 600px) {
    .three {
      width: 100%;
      float: none;
      display: block;
      background-position: 10% 10%;
    
    }
  }

  @media screen and (max-width: 600px) {
    .sign {
      font-size: 9px;
      float: none;
      display: block;
      width: 50%;
 
    }
  }

  @media screen and (max-width: 1200px) {
    .four {
      font-size: 9px;
      float: none;
      display: block;
      width: 100%;
      padding-top: 20px; 
    }
  }
  @media screen and (max-width: 1200px) {
    .five {
      font-size: 9px;
      float: none;
      display: block;
      width: 100%;
 
    }
  }

  @media screen and (max-width: 1200px) {
    .search {
      /* display: hidden; */
      width: 40%;
      /* height: 20%; */
      margin-top: 10px;
      /* padding: -40%;  */

    }
  }

  @media screen and (max-width: 1200px) {
    .search p {
      /* display: hidden; */
      /* width: 50%; */
      /* margin-top: 10px; */
      /* padding: -10px;  */
      font-size: 13px;
      /* margin-top: 20px; */
    }
  }
  @media screen and (max-width: 1200px) {
    .search img{
      /* display: hidden; */
      /* width: 50%; */
      /* margin-top: 10px; */
      /* padding: -10px;  */
      /* padding-bottom: 10px; */
      width: 25px;
      margin-top: 5px;
    }
  }

